
*{
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
}
header{
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
}
.header-content{
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
}
.main-link{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 79px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: white;
}
.main-link:hover{
    color: #01813F;
}
.header-text-link{
    color: #FFFFFF;
    text-decoration: none;
}
.header-text-link:hover{
    color: #01813F;
}
.header-text{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    margin-top: 5px;
    margin-right: 79px;
    margin-left: 27px;
    font-size: 14px;
    line-height: 14px;
}
.header-info{
    display: flex;
    justify-content: flex-end;
}
.icons{
    padding-right: 25px;
    border-right: 1px solid white;
}
.icon{
    padding-left: 24px;
    bottom: 17px;
}
.icon-link-st:hover{
    /*content: url("../img/1-icon-focus.svg");*/
    fill: green;
}
.icon-link-nd:hover{
    content: url("../img/2-icon-focus.svg");
}
.icon-link-rd:hover{
    content: url("../img/3-icon-focus.svg");
}
main{
    width: 444px;
    margin: 0 auto;
    margin-top: 54px;
    background-color: #fff;
}
.button{
    border: none;
    outline: none;
    border-radius: 4px;
    width: 160px;
    height: 48px;
}
.buttons{
   /*margin-top: 15px;*/
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: space-around;
}
.titles{
    display: flex;
    justify-content: space-between;
    margin-right: 59px;
    height: 15px;
    padding-bottom: 15px;
}
.sign-up{
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 31px;
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}
.sign-up::before{
    margin-right: 43px;
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: #3CB878;
}
.log-in-link{
    margin-top: 33px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.log-in-link:hover{
    text-decoration: underline;
    color: #01813F;
}
.facebook{
    background-color: #305DB8;
    margin-right: 4px;
}
.google{
    margin-bottom: 10px;
    background-color: #DF4A32;
}
.caption-button{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    left: 30px;
}
.facebook-title{
    margin-top: 4px;
}
.google-title{
    margin-top: 2px;
}
.button-link{
    text-decoration: none;
}
.logo-pic-google{
    border-right: 1px solid rgba(43, 13, 9,0.1);
    padding-right: 7px;
}
.logo-pic-fb{
    border-right: 1px solid rgba(10, 22, 47,0.1);
    padding-right: 7px;
}
.or{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    text-align: center;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
}
.or::before{
    margin-bottom: 1px;
    margin-right: 5px;
    content: url("../img/line.png");
}
.or::after{
    margin-left: 5px;
    content: url("../img/line.png");
}
.sign-in-form{
    width: 324px;
    margin: 11px 0 0 60px;
    display: flex;
    flex-direction: column;
}
.in{
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 324px;
    height: 46px;
}
.in:focus{
    outline: none;
    border: none;
    font-family: 'Ubuntu' , sans-serif;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.in-checkbox{
    margin-bottom: 20px;
}
.confirm-pw{
    margin-bottom: 12px;
}
::placeholder{
    padding: 15px 0 15px 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.submit-button{
    font-family: 'Ubuntu' , sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}
.submit-button:hover{
    background-color: #01813F;
}
.green-text{
    text-decoration: none;
    color: #3CB878;
}
.green-text:hover{
    color: #01813F;
    text-decoration: underline;
}
.text-near-checkbox{
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
}
.facebook:hover{
    background-color: #022263;
}
.google:hover{
    background-color: #AB1F09;
}