*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: #18B4CF;*/
}
.body{
    background-color: #F2F2F2;

}
.container {
    width: 1170px;
    margin: 0 auto;
}
.head-site{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    margin-left: 29px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.logo-name{
    margin-left:27px ;
    margin-top: 22px;
    color: white;
    font-size: 22px;
    line-height: 30px;
}
.logo{
    display: flex;
    flex-wrap: nowrap;
}
.nav{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item-link{
    text-decoration: none;
    color: white;
}
.nav-item{
    margin-top: 28px;
    padding-right: 30px;
    text-transform: uppercase;
}
.search img{
    /*padding-top: 26px;
    padding-right: 26px;*/
    padding: 26px 26px 26px 26px;
    background-color: #000;
}
.latest-news{
    background-image: url("../img/header-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 369px;
}
.caption-news{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: white;
    text-align: center;
    padding-top: 164px;
    /*padding-bottom: 173px;*/
}
.header-button-link{
    text-decoration: none;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
}
.subscribe{
    text-decoration: none;
    margin-right: 20px;
    background-color: #89CA62;
    width: 170px;
    height: 55px;
}
.best-articles{
    text-decoration: none;
    background-color: #14B9D5;
    width: 170px;
    height: 55px;
}
.buttons{
    margin-top: 44px;
    display: flex;
    justify-content: center;
}
.pop-posts{
    text-align: center;
    padding-top: 49px;
    margin-bottom: 52px;
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
}
.popular-post{
    margin-bottom: 28px;
    background-color: white;
}
.pop-post-title{
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-weight: bold;
}
.popular-posts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 860px;
}
.most-popular-posts{
    background-color: #F2F2F2;
    height: 1030px;
}
.pop-clients{
    background-image: url('../img/parallax-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}
.pop-clients-title{
    box-sizing: border-box;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 106px;
    padding-bottom: 87px;
}
.border{
    display: block;
    margin: 0 auto;
}
.labels{
    padding-top: 103px;
    display: flex;
    justify-content: center;
    padding-bottom: 203px;
}
.special-label{
    margin-right: 58px;
}
.top-pictures{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,1fr);
}
.top-picture{
    width: 100%;
}
.news-title{
    padding-top: 41px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
}
.news-text{
    padding-top: 15px;
    text-align: right;
    width: 350px;
    height: 140px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.st-special-card{
    grid-area: spa;
    width: 856px;
    height: 259px;
    background-color: #F9F7F7;
    display: flex;
    justify-content: space-between;
}
.news-info{
    padding-right: 24px;
}
.special-title{
    padding-top: 14px;
    padding-bottom: 11px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
}
.nd-special-card{
    grid-area: hotel;
    width: 277px;
    background-color: #F9F7F7;
}
.special-cards{
    display: grid;
    grid-template-areas: 'spa spa hotel';
    margin-bottom: 44px;
}
.news-card{
    margin-bottom: 45px;
    width: 554px;
    height: 418px;
    background-color: #F9F7F7;
}
.news-text-main{
    padding-top: 15px;
    text-align: right;
    width: 527px;
    height: 104px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.news-title-main{
    padding-top: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
}
.big-section-news{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.special-cards-p{
    display: grid;
    grid-template-areas: 'hotel spa spa';
    margin-bottom: 71px;
}
footer{
    height: 80px;
    background-color: #000000;
}
.footer{
    padding-top: 29px;
    display: flex;
    justify-content: space-between
}
.footer-caption{
    color: #fff;
    font-size: 13px;
    line-height: 13px;
}
.footer-text{
    padding-bottom: 2px;
    padding-right: 25px;
}