*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-top: 25px;
}
.nav-menu{
    list-style: none;
    display: flex;
}
.nav-menu-link{
    color: #FF0000;
    text-decoration: none;
}
.nav-menu-item{
    color: #FF0000;
}
.special-li{
    padding-right: 72px;
}
.main-img{
    width: 100%;
}
.caption{
    text-align: center;
    letter-spacing: 3.3px;
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
    margin-top: 48px;
}
.first-txt{
    margin-bottom: 28px;
}
.text{
    text-align: center;
    color: #373737;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.button-name{
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.button{
    margin-top:66px;
    display: flex;
    justify-content: center;
    background: #ff0000;
    height:51px ;
    width: 191px;
    border:1px solid #ff0000;
    letter-spacing: 1.8px;
}
.footer-caption{
    margin-bottom: 29px;
    margin-top: 82px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    letter-spacing: 2.4px;
}