
.container{
    max-width: 1160px;
    margin: 0 auto;
}
*{
    font-family: 'Montserrat Alternates', sans-serif;
}
.up-header{
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat Alternates', sans-serif;
}
.nav-item-link{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
h1{
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 44px;
    padding-left: 6px;
}
.logo-caption{
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 38px;
    margin-left: 6px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo-type{
    display: flex;
    justify-content: center;
}
.logo-picture{
    display: block;
    width: 58px;
    height: 67px;
    margin-top: 26px;
}
.ham-logo{
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
    font-weight: bold;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 614px;
    margin-top: 48px;
}
.search{
    width: 21.09px;
    height: 20px;
}
.lower-header{
    height: 1012px;
    font-family: 'Montserrat Alternates', sans-serif;
}
header{
    background-image: url(../img/bgr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.the-ham{
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 264px;
}
.word{
    color: #18CFAB;
}
.creation{
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 70px;
}
button{
    border: none;
    border-radius: 4px;
}
.first-button{
    background: #18CFAB;
    width: 169px;
    height: 63px;
    border-radius: 2px solid #18CFAB;
    margin-right: 26px;
    border-top: solid 5px #fff;
}
.fbc{
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.second-button{
    background: #00CBF6;
    width: 169px;
    height: 63px;
    border-radius: 2px solid;
    border-top: solid 5px #fff;
}
.sbc{
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.just{
    text-align: center;
    padding-top: 22px;
    color:#FFFFFF;
    font-size: 35px;
    margin-top: 22px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 134px;
}
.benefits{
    display:grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5px;
}
.benefit1{
    background: #1C2A33;
    height: 377px; 
}
.benefit2{
    background: #18CFAB;
    height: 377px;
}
.benefit3{
    background: #1C2A33;
    height: 377px; 
}
.benefit4{
    background: #18CFAB;
    height: 377px; 
}
.caption-ben-fir{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 47px;
    padding-bottom: 110px;
}
.caption-ben-sec{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 110px;
}
.benefit-img{
    /* text-align: center; */
    padding-top: 95px; 
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
h4{
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    padding-top: 83px;
}
.fir-line{
    margin: auto;
}
.sec-line{
    margin-left: 570px;
    margin-bottom: 7px;
}
.service-undrln{
    margin-top: 26px;
    height: 3px;
}
.main-nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 101px;
}
.main-nav-item{
    font-size: 15.9859px;
    line-height: 39px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding-top: 15px;
    height: 72px;
    width: 192px;
    text-align: center;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.main-nav-item-link{
    text-decoration: none;
    color: #717171;
}
.main-nav-item:hover{
    border: 1.5px solid #18CFAB;
    box-sizing: border-box;
}
.main-nav-item:focus{
    background: #18CFAB;
    color: #FFFFFF;
}
.active-main-nav{
    background: #18CFAB;
    color: #FFFFFF;
}
.service-info{
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.service-info-fir{
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.service-info-sec{
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.service-info-third{
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.service-info-fourth{
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.service-info-fifth{
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.service-text{
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    text-align: left;
    width: 952px;
    height: 136px;
    margin-left: 15px;
}
.fir-line{
    display: flex;
    justify-content: center;
}
.buying-installing{
    background-image: url(../img/bg-install.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 476px;
    margin-top: 91px;
}
.installing-caption{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 127px;
    color: #18CFAB;
}
.installing-add-info{
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 62px;
}
.btn-purchase{
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    border-top: solid 5px #fff;
    display: block;
    margin: auto;
}
.btn-purchase-link{
    text-decoration: none;
    color: #FFFFFF;
}
.amazing-work{
    background: #E9EDEF;
}
.work-list{
    width: 582px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 69px;
    margin-bottom: 71px;
}
.amaz-work{
    margin-bottom: 24px;
}
.amaz-work-undrln{
    width: 85px;
    margin: auto;
}
.service-undrln-work{
    margin-bottom: 69px;
}
.amazing-wrk{
    padding-bottom: 99px;
}
.fir-line-work{
    margin: auto;
}
/* .sec-line-work{
    /* margin: auto; */
 */
.work-list-item{
    font-size: 14px;
    line-height: 42px;
    padding-top: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #717171; 
}


.work-list-sec{
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    font-family: serif; 
    padding-top: 10px;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    padding-right: 20px;
    padding-left: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.first-item{
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding-top: 10px;
    border: 1px solid #DADADA;
    padding-right: 28px;
    padding-left: 28px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.work-list-item:hover .work-list-item-link{
    color: #18CFAB;
}
.second-item{
    padding-left: 16px;
    padding-right: 13px;
    padding-top: 14px;
    border: 1px solid #DADADA;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #717171;
    white-space: nowrap;
}
.third-item{
    padding-left: 15px;
    padding-right: 13px;
    padding-top: 14px;
    border: 1px solid #DADADA;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #717171;
    white-space: nowrap;
}
.fourth-item{
    padding-left: 15px;
    padding-right: 13px;
    padding-top: 14px;
    border: 1px solid #DADADA;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #717171;
    white-space: nowrap;
}
.first-item:hover{
    border: 2px solid #18CFAB;
}
.last-item{
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    font-family: serif; 
    padding-top: 14px;
    padding-right: 12px;
    padding-left: 17px;
    border: 1px solid #DADADA;
    font-family: 'Montserrat Alternates', sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.last-item:hover{
    border: 2px solid #18CFAB;
}
.work-list-item:hover{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.work-list-sec:hover{
    border: 2px solid #18CFAB;
}
.work-ellipses{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 102px;
    padding-top: 40px;
}
.visible-work-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 71px;
}
.hidden-work-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.work-pic{
    position: relative;
    background-image: url(../img/1pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic2{
    position: relative;
    background-image: url(../img/2pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic3{
    position: relative;
    background-image: url(../img/3pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic4{
    position: relative;
    background-image: url(../img/4pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic5{
    position: relative;
    background-image: url(../img/5pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic6{
    position: relative;
    background-image: url(../img/6pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic7{
    position: relative;
    background-image: url(../img/7pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic8{
    position: relative;
    background-image: url(../img/8pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic9{
    position: relative;
    background-image: url(../img/9pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic10{
    position: relative;
    background-image: url(../img/10pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic11{
    position: relative;
    background-image: url(../img/11pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-pic12{
    position: relative;
    background-image: url(../img/6pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 209px;
}
.work-picture-hover{
    border-top: 6px solid #18CFAB;
    background: #E9EDEF;
    /* background: #000; */
    width: 285px;
    height: 211px;
    position: absolute;
    display: none;
}
.work-pic:hover .work-picture-hover{
    display: block;
}
.work-pic2:hover .work-picture-hover{
    display: block;
}
.work-pic3:hover .work-picture-hover{
    display: block;
}
.work-pic4:hover .work-picture-hover{
    display: block;
}
.work-pic5:hover .work-picture-hover{
    display: block;
}
.work-pic6:hover .work-picture-hover{
    display: block;
}
.work-pic7:hover .work-picture-hover{
    display: block;
}
.work-pic8:hover .work-picture-hover{
    display: block;
}
.work-pic9:hover .work-picture-hover{
    display: block;
}
.work-pic10:hover .work-picture-hover{
    display: block;
}
.work-pic11:hover .work-picture-hover{
    display: block;
}
.work-pic12:hover .work-picture-hover{
    display: block;
}
.ellipse1{
    width: 41px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    margin-right: 5px;
}
.ellipse2{
    width: 41px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    background: #18CFAB;
}
.ellipse-details{
    position: absolute;
}
.ell-2-thing{
    margin-right: 30px;
    margin-top: 15px;
}
.square{
    margin-bottom: 3px;
    margin-right: 3px;
}
.pic-block-caption{
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 113px;
}
.web-design{
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    text-align: center;
    color: #8A8A8A;
}
.btn-menu{
    background: #18CFAB;
    width: 168px;
    height: 63px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
}
.btn-menu-caption{
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10px;
}
.btn-menu-pic{
     padding-top: 22px;
     padding-right: 15px;
}
.news-undrln{
    width: 85px;
    margin-top: 24px;
}
.sec-line-news{
    margin-bottom: 10px;
    margin-left: 12px;
}
.breaking-pics{
    margin-top: 101px;
}
.breaking-caption{
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}
.breaking-txt{
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}
.breaking-pic-hover{
    width: 70px;
    background: #203E38;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    width: 70px;
    height: 69px;
    margin-left: 193px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
.breaking-pic-link{
    text-decoration: none;
}
.number{
    padding-top: 10px;
}
.breaking-pic:hover .breaking-pic-hover{
    background: #18CFAB;
}
.breaking-pic:hover .breaking-caption{
    color: #18CFAB;
}
.breaking-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 44px;
}
.what-people-say{
    background-image: url(../img/bg-sec.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 853px;
    margin-top: 129px;
}
.what-people-caption{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 98px;
    margin-bottom: 25px;
}
.what-people-txt{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
    width: 1160px;
    margin-top: 36px;
}
.person-caption{
    margin-top: 37px;
}
.name{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.career{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}
.people-image{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.person{
    margin-top: 12px;
    position: absolute;
}
.border-radius{
    border-radius: 4px solid #000;
    width: 166px;
    height: 166px;
}
.employee{
    width: 483px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.other-person{
    margin-top: 69px;
}
.other-person-three{
    margin-top: 56px;
}
.what-person1{
    position: absolute;
    margin-top: 5px;
    margin-left: 4px;
}
.what-person2{
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}
.what-person3{
    position: absolute;
    margin-top: 4px;
    margin-left: 3px;
}
.what-person4{
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}
.forma{
    display: block;
    width: 31px;
    height: 31px; 
    border: 1px solid #BBBBBB;
    margin-top: 83px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.forma-link{
    text-decoration: none;
    color:#BBBBBB;
    display: block;
    margin-top: 8px;
    margin-left: 10px;
}
.forma:hover{
    border: 1px solid #18CFAB;
    background: #18CFAB;
}
.forma:hover .forma-link{
    color: #fff;
}
.other-persons{
    display: flex;
    justify-content: space-around;
    width: 350px;
}
.forma-sign{
    margin-left: 10px;
    margin-top: 8px;
}
footer{
    background: #22353F;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 47px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.ham-footer{
    color: #18CFAB;
}
