*{
    font-family: sans-serif;
}
.container{
    width: 1030px;
    margin: 0 auto;
}
body{
    height: 100vh;
    background-image: url("../img/background .png");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
}
.logo-title-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.milan-link{
    text-decoration: none;
}
.logo-title-link-sec{
    margin-top: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.l-title:hover{
    color: #F26522;
}
.logo-img-link{
    margin-right: 6px;
}
.milan-email-link{
    margin-bottom: 19px;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.phone-number-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.logo-title{
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: 47px;
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    width: 1028px;
    height: 61px;
    margin-top: 51px;
}
.logo-img-hov{
    opacity: 0;
}
.logo-img-link:hover{
    content: url("../img/logo-hover.png");
}
/*.logo-title-in:hover{
    color: #F26522;
}*/
.milan-contacts{
    /*display: flex;
    justify-content: flex-end;*/
    display: block;
    margin-left: 686px;
    top: 0;
    text-align: right;
}
.milan-email{
    margin-bottom: 19px;
}
.milan-contact:hover{
    color: #F26522;
}
.milan-info{
    opacity: 0;
}
.holidays-cards{
    margin-top: 26px;
}
.milan-title-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
h6{
    padding-left: 80px;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*text-align: center;*/
    margin-top: 20px;
}
.milan-info{
    bottom: 43px;
    position: absolute;
    width: 295px;
    height: 55px;
    background-color:#F26522;
}
.milan-card{
    position: relative;
    height: 263px;
    /*overflow: hidden;*/
}
.milan-card:hover .milan-info{
    opacity: 100%;
    color: #F26522;
}
.j-word{
    margin-left: 16px;
    margin-top: 7px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
}
.prise{
    margin-left: 16px;
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
}
.details{
    position: relative;
    bottom: 12px;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
}
.details::after{
    margin-right: 14px;
    margin-left: 16px;
    content: url("../img/det.png");
}
.image-milan{
    display: block;
    width: 295px;
}
/*.milan-title-link:hover{
    color: #F26522;
}*/
.logo-link:hover .logo-img{
    content: url("../img/logo-hover.png");
    top: 0;
}
.holidays-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 37px;
}
.footer-info{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 49px;
}