*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}

.logo-name{
    margin-top: 63px;
    color: black;
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
}
span{
   color:  #00e8e0;
}
.nav{
    margin-top: 38px;
    list-style: none;
    display: flex;
    justify-content: center;
    background: #35444F;
    width: 1283px;
    height: 72px;

}
.nav-item-link{
    text-decoration: none;
    border-left:1px solid white ;
    padding: 20px 40px 20px 40px;
    color: white;
    font-size: 24px;
    line-height: 28px;
}
.nav-item{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.flexbox-container{
    display: flex;
    justify-content: space-around;
}
.nav-bar{
    /*width: 1283px;
    height: 72px;*/
}
aside{
    /*width: 344px;
    height: 399px;*/
}
.ramda{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ramda-item{
    margin-top: 26px;
    margin-left: 42px;
    margin-bottom: 30px;
    font-size: 27px;
    line-height: 26px;
}
.aside-menu{
    margin-left: 121px;
    margin-top: 48px;
    border: 1px solid black;
    width: 344px;
    height: 399px;
}
.the-general-part{
    margin-right: 90px;
}
.ramda-pic{
    /*padding-left: 267px;
    padding-bottom: 75px;
    padding-right: 267px;
    padding-top: 75px;*/
    padding: 75px 267px 75px 267px;
    border: 1px solid black ;
    margin-top: 48px;
    margin-left:52px;
    /*margin-right: 117px;*/

}
.ramda-info{
    width: 885px;
    margin-left:52px ;
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
}
/*.nav-ramda{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    background: rgba(99, 105, 110, 0.48);
    width: 1283px;
    height: 69px;
}
.nav-ramda-item{
    margin-right: 312px;
    margin-left: 40px;
    font-size: 28px;
}*/
.nav-ramda-item-link{
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #0C1927;
    margin: 16px;
}
.nav-ramda-item{
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.nav-ramda{
    width: 928px;
    height: 69px;
    /*margin-right: 312px;*/
    margin-left: 40px;
    /*margin-left: 40px;*/
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.footer-menu{
    margin-top: 52px;
    /*width: 1280px;
    height: 69px;*/
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-around;
}
.cr-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    height: 69px;
    font-size: 24px;
    line-height: 24px;
    /*display: block;*/
    margin: 0 40px 0 40px;
    /*width: 190px;*/
    /*height: 69px;*/
}














.color-grey{
    color: #485863;

}